p{
    margin-top: 2%;
    margin-left: 2%;
}


input{
    margin-top: 1.5%;
    margin-left: 1.5%;
}
section{
    margin-bottom: 1.5%;
}
.submit{
    border-radius: 10px;
	font-size: 110%;
	font-weight: bold;
	padding: 1.2%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
	background-color: #572121;
}
.infoSite {
    background-color: #219354;
    width: 100%;
}
.infoSite::after{
    clear: both;
}
.infoSite > div{
    padding: 5%;
    display: inline-block;
    width: 49.7%;
}
.contacts {
    vertical-align: top ;
}
.woodland > a {
    text-decoration: none;
    color: black;
}
.woodland> a:hover {
    color: #AAAAA2;
}