* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	margin: 0;
	padding: 0;
}
.header {
    box-sizing: border-box !important;
	width: 100%;
	display: inline-block;
	height: 10%;
	clear: both;
	background-image: linear-gradient(#805533, #572121);
}
.header *{
    box-sizing: border-box;
}
.logo {
	width: 12%;
	padding: 2%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.title {
	width: 40% !important;
	text-align: center !important;
	display: inline-block !important;
	text-transform: uppercase !important;
	margin-left: 10% !important;
	vertical-align: middle !important;
	font-size: 50px !important;
	position: relative !important;
	font-style: italic !important;
	color: white !important;
    text-shadow: 6px 6px black !important;
    top: 0px !important;
}
.user-button {
	width: 30%;
	margin-left: 5%;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	padding: 3%;
    text-align: center;
    box-sizing: border-box;
}
.cart,
.notification,
.menu {
	color: white !important;
	transform: scale(2.9);
}
.cart {
	display: inline-block;
	position: relative;
	margin-right: 9%;
}
.notification {
	position: relative;
	display: inline-block;
	margin: 0 9%;
}
.menu {
	display: inline-block;
	position: relative;
	margin-left: 9%;
	background: none;
	border: none;
	cursor: pointer;
}
.logButton {
	position: relative;
	margin: 1% 5% 0 0;
	float: right;
	display: inline-block;
	color: white;
	transform: scale(2.5);
}

.infoSite {
	background-color: #219354;
    width: 100%;
    box-sizing: border-box !important;
}
.infoSite *{
    box-sizing: border-box !important;
}
.infoSite::after {
	clear: both;
}
.infoSite > div {
	padding: 5%;
	display: inline-block;
	width: 49.7%;
}
.contacts {
	vertical-align: top;
}
.woodland > a {
	text-decoration: none;
	color: black;
}
/*OVERLAY MENU////////////////////////////////////////*/

/* Sing In Button */
.blockScroll {
	overflow: hidden;
}
.allowScroll {
	overflow: scroll;
}

.overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	color: white;
	visibility: hidden;
	overflow: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    z-index: 3;
    box-sizing: border-box !important;
}
.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.overlay .menu-row {
	border-bottom: 1px white solid;
	width: 100%;
	height: 10%;
}
.overlay .nav-title {
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	top: 38%;
}
.overlay-menu {
	position: relative;
	height: 10%;
	margin-top: 6%;
	border-bottom: 1px white solid;
	transform: translateY(-50%);
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	clear: both;
}
.overlay .border-button {
	border: 1px solid white;
	height: 70%;
	width: 20%;
	margin: 0 4%;
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
.overlayNotEvent {
	width: 100%;
	height: 50%;
	text-align: center;
}
.overlayMessage {
	color: white;
	font-size: xx-large;
}
.overlayEvent {
	border-bottom: 1px white solid;
	transition: all 0.3s;
	width: 100%;
	/*SLIDE IN ANIMATION*/
}
.overlayImage {
	margin: 2%;
	background-color: white;
	padding: 1%;
	width: 40%;
	height: 200px;
	display: inline-block;
	border-radius: 15px;
}
.overlayInfo {
	width: 38%;
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	line-height: 2em;
}
.overlayInfo:after {
	clear: both;
}
.overlayColumnL {
	float: left;
}
.overlayColumnR {
	float: right;
}
.overlayTitle {
	font-size: x-large;
	width: 20%;
	margin-bottom: 4%;
}
.overlayInfo > label {
	margin-bottom: 4%;
}
button:focus {
	outline: 0;
}
.close-menu {
	float: right;
	background: none;
	border: none;
	position: relative;
	margin: 1% 9% 0 0;
	transform: scale(2.8);
	color: white;
	display: inline-block;
}
.open-menu,
.close-menu,
.button {
	cursor: pointer;
	transition: transform 0.3s;
}
/*DESKTOP SCREEN*/
@media (min-width: 1281px) {
	* {
		font-size: 30px !important;
	}
	.title {
		font-size: 80px;
	}
	.overlayEvent {
		width: 49.6%;
		margin-right: 0;
		display: inline-block;
	}
	.overlayImage {
		display: inline-block;
		margin: 10%;
		margin-bottom: 0;
		margin-top: 5%;
		padding: 1%;
		width: 80%;
		height: 200px;
		position: relative;
	}
	.overlayInfo {
		display: inline-block;
		width: 90%;
		vertical-align: top;
		margin: 5%;
		margin-top: 0;
		padding: 1%;
		line-height: 2em;
		position: relative;
	}
	.menu-row {
		height: 14% !important;
	}
}
