* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	margin: 0;
	padding: 0;
}
header {
	background-image: linear-gradient(#805533, #572121);
	width: 100%;
	display: inline-block;
	height: 10%;
	clear: both;
}
.logo {
	width: 12%;
	padding: 2%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.title {
	width: 40%;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 10%;
	vertical-align: middle;
	font-size: 50px;
	position: relative;
	font-style: italic;
	color: white;
	text-shadow: 6px 6px black;
}
.user-button {
	width: 30%;
	margin-left: 5%;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	padding: 3%;
	text-align: center;
}
.newEvent {
	display: inline-block;
	position: relative;
	margin-right: 9%;
	transform: scale(2.9);
	color: white;
}
.notification {
	position: relative;
	display: inline-block;
	margin: 0 9%;
	transform: scale(2.9);
	color: white;
}
.logButton {
	position: relative;
	margin-left: 9%;
	display: inline-block;
	color: red;
	transform: scale(2.9);
}

.infoSite {
    background-color: #219354;
    width: 100%;
}
.infoSite::after{
    clear: both;
}
.infoSite > div{
    padding: 5%;
    display: inline-block;
    width: 49.7%;
}
.contacts {
    vertical-align: top ;
}
.woodland > a {
    text-decoration: none;
    color: black;
}
.woodland> a:hover {
    color: #AAAAA2;
}
/*DISPLAY EVENT////////////////////////////////////////*/
main:after {
	display: table;
	content: "";
	clear: both;
}
.event {
	width: 47.6%;
	border: 0;
	padding: 2%;
	margin: 1% 1% 2% 1%;
	color: black;
	font-size: medium;
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid black;
	display: inline-block;
}
.deleteEvent {
    float: right;
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	border: none;
	color: white;
	border: 1px solid black;
	padding: 15px;
	border-radius: 50%;
	display: block;
	width: 10px;
	height: 10px;
}
.deleteEvent:hover {
	cursor: pointer;
}
.fixDelete {
	position: relative;
	top: -8px;
	left: -8px;
}
.deleteEvent,
.fixDelete:focus {
	outline: none;
}
.eventImage {
	width: 160px;
	height: 160px;
	border-radius: 25px;
	position: relative;
	display: inline-block;
	background-color: #219354;
	padding: 1.3%;
}
.eventInfo {
	position: relative;
	display: inline-block;
	margin-left: 8%;
	vertical-align: top;
	font-size: medium;
	line-height: 1.5em;
}
.eventInfo a {
	text-decoration: none;
}
.eventTitle {
	margin-bottom: 5%;
	font-size: inherit;
	color: black;
}
.eventP {
	margin-bottom: 1%;
	font-size: inherit;
}
@media (min-width: 1281px) {
	/*DESKTOP SCREEN*/
	* {
		font-size: 30px !important;
	}
	.title {
		font-size: 80px !important;
	}
	.event {
		width: 30%;
	}
	.eventImage {
		width: 180px;
		height: 180px;
	}
	.eventInfo {
		font-size: larger;
	}
	.deleteEvent {
		width: 40px;
		height: 40px;
	}
	.fixDelete {
		position: relative;
		top: -11px;
		left: -11px;
	}
}
