div > p.errorLabel {
	margin-top: 1%;
	color: red;
	display: none;
	font-weight: bold;
}
div.Ediv {
	margin-top: 2.5%;
}
button#del {
	transform: scale(1.2);
	margin: 2% 2% 0;
}
p.EventTitle {
	font-weight: bold;
	margin: 2.5% 2%;
}
div.titleAndCloseButton > * {
	display: inline-block;
}
div.ticketArea > * {
	display: inline-block;
}
div.ticketArea {
	margin-left: 3.5%;
	margin-bottom: 2.5%;
}
div.ticketArea > button {
	margin-left: 2%;
}
p.tickets {
	font-weight: bold;
}
button {
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
p.Pricetext {
	margin-left: 3.5%;
}
p.price {
	display: inline-block;
	font-weight: bold;
}
p.cartTitle {
	margin: 0.5%;
	margin-top: 1.5%;
	font-weight: bold;
	font-size: 200%;
}
a.backLink {
	font-weight: bold;
	font-size: 120%;
	margin-left: 1%;
	color: blue;
}
main {
	padding-top: 1.5%;
}
button.Confirm {
	border-radius: 10px;
	font-size: 110%;
	font-weight: bold;
	padding: 1.2%;
	margin-top: 1%;
	margin-left: 42.5%;
	margin-bottom: 1%;
	color: white;
	background-color: #572121;
}
.emptyCart {
	border-radius: 10px;
	font-size: 110%;
	font-weight: bold;
	padding: 1.2%;
	margin-top: 3%;
	margin-left: 42.5%;
	margin-bottom: 1%;
	color: white;
	background-color: #572121;
}
.deleteEvent {
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	border: none;
	/*width: 7%;*/
	color: white;
	border: 1px solid black;
	padding: 15px;
	border-radius: 50%;
	display: block;
	width: 10px;
	height: 10px;
}
.deleteEvent:hover {
	cursor: pointer;
}
.fixDelete {
	position: relative;
	top: -12px;
	left: -12px;
}
.deleteEvent,
.fixDelete:focus {
	outline: none;
}
@media only screen and (min-width: 1281px) {
	/*DESKTOP SCREEN*/
	* {
		font-size: 30px !important;
	}
	.title {
		font-size: 80px !important;
	}
	.deleteEvent {
		width: 35px;
		height: 35px;
	}
	.fixDelete {
		position: relative;
		top: -13px;
		left: -13px;
	}
}
