.secBase {
    position: relative;
	padding: 1%;
	width: 97%;
    border: 6px solid #219354;
    margin: 3% 1.5%;
    border-radius: 15px;
}
.secBase > div{
    width: 100%;
}
.eventLabel{
    font-weight: bold;
    margin: 1% 2%;
}
input,
textarea {
    width: 90%;
    position: relative;
	border-radius: 25px;
	border: 1px solid black;
	padding: 1%;
	margin: 1% 0;
    font-weight: normal;
    background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	color: grey;
}
input{
   margin: 1% 5%; 
}
input:focus,
textarea:focus {
	outline: none;
}
.submit{
    color: white;
    width: 98%;
    margin: 1% 1%;
    height: 70px;
}
#eventImage {
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid black;
    width: 100%;
    padding: 2%;
    font-weight: bold;
}
#eventImage::after {
	clear: both;
}
#eventImage > label {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	
}
.eventImageRadio{
    margin-bottom: 2%;
}
input[type=radio]{
    width: 2% !important;
}
#newImage {
	position: relative !important;
	display: inline-block;
	width: 90%;
}
.image {
	width: 100px;
	height: 100px;
	position: relative;
	border-radius: 25px;
}
#eventDescription {
    width: 100%;
    margin-top: 2%;
}
.textLabel{
    font-weight: bold;
}
.inputDesc {
	width: inherit;
    height: 100px;
    padding: 1.5%;
}
.submit:hover{
    cursor: pointer;
}
@media (min-width: 1281px) {
    * {
		font-size: 30px !important;
	}
	.secBase {
		border-radius: 15px;
		border: 6px solid #219354;
		width: 46%;
		margin: 2%;
	}
	.secLeft {
		float: left;
	}
	.secRight {
		float: right;
	}
	.secLeft:after,
	.secRight:after {
		clear: both;
	}
	main:after {
		clear: both;
	}
	input,
	textarea {
        position: relative;
		padding: 1%;
		margin: 2% 1.5%;
        width: 97% !important;
    }
}
