@media (min-width : 768px){

}
*{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin-left: 2.5%;
}
form>div>input{
    padding : 1.5%;
    border: solid 1px;
    border-color: black;
    border-radius: 25px;
}
form>div.imagine>*{
    display: inline-block;
    border: none;
}
form>div.imagine{
    width: 100%;
}
form>div>textarea{
    outline: none;
    width: 500px;
    height: 300px;
    padding : 1.5%;
    border: solid 1px;
    border-color:black;
    border-radius: 25px;
}
form>div>input:focus{
    outline: none;
}
form>div{
    margin: 3%;
    margin-left: 20%;
}
form>div>*{
    margin-top: 2%;
}
form>p{
    font-weight: bold;
}
form>div.submit>input{
    padding: 2%;
    margin-left: 31.5%; 
}
form>div.submitB>input:hover{
    cursor: pointer;
}