@media (min-width: 768px) {
}
* {
	font-family: Arial, Helvetica, sans-serif;
}

.EventImage {
	vertical-align: middle;
	margin-left: 2.5%;
	width: 95%;
	height: 95%;
	margin-top: 1%;
	margin-bottom: 5%;
	border: 15px solid #219354;
	background-clip: border-box;
	border-radius: 15px;
}
section {
	margin-left: 2.5%;
}
div#Title {
	padding: 2%;
	padding-top: 6%;
}
div#Title > p {
	font-style: italic;
	font-size: 225%;
	font-weight: bold;
}
div#Description {
	word-wrap: break-word;
	width: 95%;
	height: auto;
	margin-left: 2.5%;
}
div#Description > p {
	text-align: justify;
}
section.Infos > div {
	display: inline-block;
	padding: 2.5% 2.5% 5% 8%;
}
span {
	font-weight: bold;
}
div#addButton {
	width: 50%;
}
.addButton:hover {
	cursor: pointer;
}
.addButton {
	border: 1px solid black;
	border-radius: 7px;
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	padding: 8px;
	color: white;
}
.checkLabel {
	margin-left: 3%;
	visibility: hidden;
}
