/*SEARCH FORM//////////////////////////////////////////////////*/
.searchForm {
	background-color: white;
	border-radius: 25px;
	padding: 5%;
	margin: 10% 10% 2%;
	color: black;
}
.header {
	background-image: none !important;
}

#divDateS,
#divDateE,
#formCity,
#formCategory {
	margin-bottom: 4%;
}
#formCity {
	margin-right: 0;
	border-bottom: 1px solid black;
}
.formDateS,
.formDateE {
	width: 60%;
	border: none;
}
.formDateS,
.formDateE:focus{
    outline: none;
}
#labelDate,
#labelCity {
	width: 8%;
}
#labelCategory {
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: black;
}
#formCategory {
	color: white;
}
#divDateS,
#divDateE {
	position: relative;
	display: inline-block;
	width: 49%;
	border-bottom: 1px solid black;
}
#divDateE {
	margin-left: 1%;
}
.formInsideButton {
	position: relative;
	margin: 0.5%;
	padding: 0.5% 0.5% 0.5% 0.5%;
	border: 1px solid black;
	border-radius: 7px;
	width: 15%;
}

.searchBar {
	width: 90%;
	border: 1px solid black;
	border-radius: 7px;
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	align-self: center;
	padding: 8px;
	margin: 0 0 3% 4%;
}

.searchButton {
	border: none;
	background-color: #219354;
	width: 100%;
	border-radius: 15px;
	color: white;
	padding: 4% 0;
	font-size: 40px;
}
.searchButton:hover {
	cursor: pointer;
}
header {
	background-image: none;
}
body {
	background-image: rgb(195, 113, 48);
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
}
/*DISPLAY SEARCH EVENT/////////////////////////////////////////////////*/
.searchResultContent {
	background-color: white;
	margin: 0 2% 2%;
	border-radius: 15px;
	border: 10px solid transparent;
	display: none;
	box-sizing: border-box;
	width: 96%;
	/*display: inline-block;*/
}
.baseHomeContent {
	/*display: none;*/
	display: inline-block;
	background-color: white;
	margin: 0 2% 2%;
	border-radius: 15px;
	background-clip: margin-box;
	border: 10px solid transparent;
}
.searchResetButton {
	border: none;
	background-color: #219354;
	width: 10%;
	border-radius: 15px;
	height: 20%;
	color: white;
	float: right;
}
.searchResetButton:hover,
.searchErrorResetButton:hover {
	cursor: pointer;
}
.searchEvent {
	border-bottom: 1px white solid;
}
.searchNotFound {
	width: 100%;
	height: 50%;
	text-align: center;
}
.searchMessage {
	color: white;
	font-size: xx-large;
}
.searchImage {
	margin: 2%;
	border-radius: 15px;
	background-color: #219354;
	padding: 1%;
	width: 35%;
	height: 200px;
	display: inline-block;
}
.searchInfo {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	line-height: 2em;
}
.searchInfo::after {
	clear: both;
}
.searchColumnL {
	float: left;
}
.searchColumnR {
	float: right;
}
.searchTitle {
	font-size: x-large;
	width: 20%;
	margin-bottom: 4%;
	padding: 1%;
	border-radius: 15px;
	border: 5px solid rgba(195, 113, 48, 1);
}
.searchTitleA {
	color: black;
	text-decoration: none;
}
.searchTitle:hover {
	cursor: pointer;
}
.searchInfo > label {
	margin-bottom: 4%;
}
.searchTicket,
.searchEndDate {
	margin-right: 10px;
}
.searchErrorResetButton {
	border: none;
	background-color: #219354;
	width: 60%;
	border-radius: 15px;
	margin: 3% 20% 3% 20%;
	height: 100px;
	color: white;
	display: inline-block;
	font-size: 40px;
}
.searchErrorLabel {
	margin-left: 22%;
	margin-top: 3%;
	width: 80%;
	display: inline-block;
	font-size: xx-large;
}

/*SLIDESHOW////////////////////////////////////////////////////////////////////////////TO REFINE////////////////////*/
.imgSlide {
	vertical-align: middle;
	width: 100%;
	height: 550px;
	border: 15px solid #219354;
	background-clip: border-box;
	border-radius: 15px;
}
.slideShowSection {
	margin-top: 3%;
}
.slideshow {
	max-width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0 2% 0 2%;
	margin: 0;
}
.slideshow::after {
	clear: both;
}
.prevButton,
.nextButton {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	background-color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.nextButton {
	right: 0;
	margin-right: 2%;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.slidedot {
	text-align: center;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	background-color: #219354;
}
.active,
.dot:hover {
	border: 1px solid black;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px;
	}
}
/**************************************************************************/
.infoDiscover h1 {
	font-size: xx-large;
	margin: 0 0 0 2%;
	color: black;
	padding: 1% 0 0 0;
}
.infoDiscover > p {
	margin: 1% 0 0 2%;
}
.woodenExperience {
	background: rgb(115, 65, 27);
	background: linear-gradient(150deg, rgba(167, 92, 36, 1) 0%, rgba(40, 27, 16, 1) 100%);
	margin: 10% 5%;
	padding: 5%;
	align-self: center;
	font-size: large;
	width: 90%;
	color: white;
	border-radius: 25px;
}
#InfoDiscover > #section > h2 {
	/*SHISH*/
	font-size: large;
	margin: 1% 0 1% 20%;
}
.discoverButton {
	width: 30%;
	border: 0;
	padding: 3%;
	margin: 1% 1% 2% 1%;
	color: black;
	font-size: medium;
	border-radius: 25px;
	background-color: grey;
	display: inline-block;
	clear: both;
	text-align: center;
}
.discoverLabel {
	width: 90%;
	text-align: center;
    white-space: nowrap;
}
.discoverDiv > *{
    text-decoration: none;
}
.discoverLabel:hover {
	cursor: pointer;
}
.discoverImage {
	border-radius: 15px;
	border: 4px black solid;
	width: 90%;
	/*height: 50%;*/
	margin: 0 5% 0 5%;
}

@media (min-width: 1281px) {
	.searchForm {
		margin: 2% 20% 2%;
	}
	.searchResultContent {
		margin: 0 10% 2%;
		width: 80%;
	}
	.baseHomeContent {
		margin: 0 10% 2%;
	}
	#divDateS,
	#divDateE {
		width: 47.9%;
		border-bottom: 1px solid black;
	}
	#divDateE {
		margin-left: 3.1%;
	}
}
