body * {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 8% 6%;
}
input:focus{
    outline: none;
}
.title {
	color: black;
	float: left;
}
.closeButton {
	float: right;
    width: 5%;
    transform: scale(2);
    color: black;
}
.askRegistration > button {
	padding-left: 0.75%;
	font-size: large;
	color: #3a00ff;
    background-color: white;
	border: 0;
    margin-top: 5%;
	font-weight: bold;
}
header > p > button:hover {
	cursor: pointer;
}
.askRegistration {
	margin-left: 20%;
	font-weight: lighter;
	margin-bottom: 5%;
}
.errorLabel {
	margin-left: 47.5%;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 6px;
	border-color: red;
	color: red;
	text-align: center;
    width: 80%;
    padding: 2%;
}
.headerDiv {
    width: 100%;
    display: inline-block;
    clear: both;
}
.upperDiv{
    width: 100%;
    height: auto;
}
.inputBase{
	border-radius: 15px;
    border: #707070 solid 1px;
	margin-bottom: 4%;
    padding: 1% 0% 1% 1%;
    font-size: medium;
    width: 100%;
    display: inline-block;
}
.inputLabel{
    margin-left: 1%;
}
.mailInput {
	width: 100%;
}
.passwordInput {
	width: 100%;
}
.mailLabel {
	width: 100%;
}
.passwordLabel {
	width: 100%;
}
.nameLabel {
    width: 45%;
    display: inline-block;
    float: left;
}
.surnameLabel {
    width: 45%;
    display: inline-block;
    float: right;
}
.postcodeLabel{
    width: 45%;
    display: inline-block;
    float: left;
}
.countryDiv{
    width: 45%;
    float: right;
    display: inline-block;
}
.countryDiv > select {
    width: 100%;
}
.typeDiv {
	width: 100%;
	font-size: large;
	font-weight: bold;
    color: black;
    clear: both;    
}
.typeMessage {
	font-size: large;
    font-weight: normal;
    margin-bottom: 2%;
}
.radioInput{
	width: auto;
	margin-right: 3.5%;
}
.submitButton {
	width: 100%;
	border-radius: 15px;
	padding-top: 2.5%;
	margin-top: 5%;
	padding-bottom: 2.5%;
	color: white;
	border-width: 1.25px;
	font-size: large;
	font-weight: bold;
	border-color: #322424;
	background-color: #866145;
}
.submitButton:hover {
	cursor: pointer;
}
