@media (min-width: 768px) {
}

* {
	font-family: Arial, Helvetica, sans-serif;
}
header {
	margin-bottom: 0.5%;
}
div[class="0"] {
	color: blue;
}
div[class="1"] {
	color: rgb(70, 70, 70);
}
button {
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
p {
	font-style: italic;
	font-weight: bold;
}

div.NotificationTitle {
	margin-left: 1.5%;
	margin-top: 1.5%;
	border-style: hidden hidden double hidden;
	width: 60%;
	display: inline-block;
}
div.DeleteAndGoTo {
	margin-top: 1.5%;
	display: inline-block;
	width: 20%;
}
button#del {
	margin-left: 4.5%;
	transform: scale(1);
	display: inline-block;
}
button.goTo {
	margin-left: 3%;
	transform: scale(1);
	display: inline-block;
}

p.notificationHead {
	padding-left: 2%;
	padding-top: 1.3%;
	font-size: xx-large;
}
.deleteEvent {
	background-image: linear-gradient(338deg, rgba(195, 113, 48, 1) 0%, rgba(90, 34, 34, 1) 100%);
	border: none;
	color: white;
	border: 1px solid black;
	padding: 15px;
	border-radius: 50%;
	display: block;
	width: 10px;
	height: 10px;
}
.deleteEvent:hover {
	cursor: pointer;
}
.fixDelete {
	position: relative;
	top: -12px;
	left: -12px;
}
.fixDeleteL {
	position: relative;
	top: -12px;
	left: -10px;
}
.deleteEvent,
.fixDelete:focus {
	outline: none;
}
@media only screen and (min-width: 1281px) {
	/*DESKTOP SCREEN*/
	* {
		font-size: 30px !important;
	}
	.title {
		font-size: 80px !important;
	}
	.deleteEvent {
		width: 40px;
		height: 40px;
	}
	.fixDelete {
		position: relative;
		top: -11px;
		left: -11px;
	}
	.fixDeleteL {
		position: relative;
		top: -10px;
		left: -9px;
	}
}
