div#Title{
    margin-top: 1.5%;
    margin-left: 3.5%;
}
div#Description{
    margin-top: 1.5%;
    margin-left: 4.5%;
}
header{
    margin-bottom: 0.5%;
}
div#Title>p.Ntitle{
    margin-top: 1%;
    width: fit-content;
    font-size: xx-large;
    font-style: italic;
    font-style: bold;
    text-decoration: underline;
}

div#Description>p.Nmessage{
    width: fit-content;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    font-style: normal;
    font-size: x-large;
}