a.backLink{
    font-weight: bold;
    font-size: 120%;
    margin-left:1%;
    color :blue;
}

p{
    font-weight: bold;
    font-size: 200%;

}
p.TicketHead{
    display: inline-block;
    margin-top: 2%;
    margin-left: 17%;
    margin-bottom: 1%;
}
img{
    display: block;
    max-width: 100%;
}
section>*{
    text-align: center;
}
p.congrats{
    
    margin-bottom: 1%;
}
div#Img{
margin-left: 15%;
}